@model List<Model.Alumno>
@{
    ViewBag.Title = "Alumnos";
}

<div class="text-right">
    <a class="btn btn-primary btn-l" href="~/home/crud/" role="button">Nuevo Registro</a>    
</div>


<h2>Alumnos</h2>

<table class="table table-striped">
    <tread>
        <tr>
            <th width="100px">Nombre</th>
            <th>Apellido</th>
            <th style="width:200px;"></th>
        </tr>
    </tread>
    <tbody>
        @foreach(var item in Model)
        {
         <tr>
             <td>@item.Nombre</td>
             <td>@item.Apellido</td>
             <td class="text-right">
                @Html.ActionLink(" ", "Crud", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil btn btn-default" }) |
                @Html.ActionLink(" ", "Ver", new { id = item.id }, new { @class = "glyphicon glyphicon-eye-open btn btn-default btn-success" })                
             </td>
         </tr>   
        }
    </tbody>
</table>
