@model List<Model.Alumno>
@{
    ViewBag.Title = "Alumnos";
}

<h2>Alumnos</h2>

<table class="table table-striped">
    <tread>
        <tr>
            <th width="100px">Nombre</th>
            <th>Apellido</th>
        </tr>
    </tread>
    <tbody>
        @foreach(var a in Model)
        {
         <tr>
             <th>@a.Nombre</th>
             <th>@a.Apellido</th>
         </tr>   
        }
    </tbody>
</table>
